<footer>
    <div class="footer_objects">
        <div class="footer_image">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/00/Boston_College_seal.svg/1920px-Boston_College_seal.svg.png" alt="Boston College seal">
        </div>
        <div class="footer_links">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'help' %}">Help</a>
            <a href="{% url 'contact' %}">Contact Us</a>
        </div>
        <div class="footer_spacer"></div>
    </div>
</footer>